<% @posts.each do |post| %>
  <div class="row">
    <div class="post_wrapper">
      <div class="col-xs-2" ></div>
      <div class="col-xs-8" >
        <h3 class="title"> <%= link_to post.title, post %> </h3>
        <p class="body"> <%= post.body %> </p>
      </div>
      <div class="col-xs-2" ></div>
    </div>
  </div>
<% end %>