<div id="blog">
  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-xs-8 post-wrapper col-xs-offset-2">
        <h3 class="title"> <%= link_to post.title, post %> </h3>
        <p class="body"> <%= post.body %> </p>
      </div>
    </div>
  <% end %>
</div>