#home-background-image {
    position: absolute;
    height: 100%;
    width:100%;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1429277096327-11ee3b761c93?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b551d6adddbaff1147e86e08162b1993');
}

.home-jumbotron-text {
  text-align: center
}

#home-navbar {
  margin-bottom: 0px;
}

.title {
  text-align: center
}

.body {
  text-align: center
}