#home-background-image {
    position: absolute;
    height: 100%;
    width:100%;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1429277096327-11ee3b761c93?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b551d6adddbaff1147e86e08162b1993');
}

.home-jumbotron-text {
  text-align: center
}

#home-navbar {
  margin-bottom: 0px;
}

#blog > div > div > h3 > a {
  text-align: center;
  color: black;
}

.body {
  text-align: center;
  color: black;
}

div.col-xs-8.post-wrapper {
  background:rgba(256,256,256,0.8);
  margin-top: 10px;
}

#blog {
  opacity : 0.7;
  background-size: cover;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/b6/37/41/b63741078b4619230b11883979f06b33.gif');
}

#home-blog {
  height:800px;
  background-color: red;
  margin-top: 500px;
}