<nav class="navbar navbar-default" id="home-navbar" >
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Welcome</a></li>
        <li><a href="posts">Blog</a></li>
        <li><a href="#">Connect With Us</a></li>
        <li><a href="#">About Ahimsa Life</a></li>
        <li><a href="#">Evolve</a></li>
        <li><a href="#">Explore</a></li>
        <li><a href="#">Fit For Life</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>